DATABASE_PATH=./data/citypoint_cmdb.sqlite3
FORTIGATE_BASE_URL=https://10.10.96.1
FORTIGATE_API_TOKEN=replace_with_token
FORTIGATE_VDOM=root
FORTIGATE_VERIFY_SSL=false
FORTIGATE_SDWAN_INTERFACE=sd-wan
ENABLE_FORTIGATE_WRITE=false
