MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=replace_with_password
MYSQL_DATABASE=citypoint_cmdb
FORTIGATE_BASE_URL=https://10.10.96.1
FORTIGATE_API_TOKEN=replace_with_token
FORTIGATE_VDOM=root
FORTIGATE_VERIFY_SSL=false
FORTIGATE_SDWAN_INTERFACE=sd-wan
ENABLE_FORTIGATE_WRITE=false
